{
  "Database":"{{ arkapi_permissions_databasetype }}",
  "MysqlHost":"{{ arkapi_permissions_mysql_host }}",
  "MysqlUser":"{{ arkapi_permissions_mysql_user }}",
  "MysqlPass":"{{ arkapi_permissions_mysql_pass }}",
  "MysqlDB":"{{ arkapi_permissions_mysql_databse }}",
  "MysqlPort":{{ arkapi_permissions_mysql_port }},
  "DbPathOverride":"",
  "ClusterSyncTime": 60
}
