{
  "General": {
    "SenderName": "{{ commandlogger_servername }}"
  },
  "Webhooks": {
    "Chat": {
      "Enable": {{ commandlogger_chat_enabled | lower }},
      "Filter": [ "/shop", "/buy", "/kit" ],
      "SteamFilter": [ 1234, 4321, 1111 ],
      "ShowSteamId": true,
      "ShowPosition": true,
      "URL": "{{ commandlogger_chatwebhook }}"
    },
    "Console": {
      "Enable": {{ commandlogger_console_enabled | lower }},
      "Filter": [ "cl.reload", "dl.reload", "sl.reload" ],
      "ShowMap": true,
      "ShowSteamId": true,
      "ShowPosition": true,
      "ShowInGameNotification": false,
      "ShowInGameChat": false,
      "UseExtendedLogging": false,
      "URL": "{{ commandlogger_consolewebhook }}"
    },
    "RCON": {
      "Enable": {{ commandlogger_rcon_enabled | lower }},
      "Filter": [ "broadcast", "doexit", "saveworld" ],
      "ShowMap": true,
      "ShowSource": true,
      "URL": "{{ commandlogger_rconwebhook }}"
    }
  }
}
