{
  "DisplayCommandLog": {{ rconscheduler_displaycommandlog | lower }},
  "PlayerJoin": {
    "Enabled": {{ rconscheduler_playerjoin | lower }},
    "Message": "This appears about 15 seconds after player joins!",
    "Color": "Green",
    "DisplayTime": 10.0,
    "DisplayScale": 1.3
  },
  "Commands": [
    {
{% for item in rconscheduler_jobs %}
      "Command": "{{ item.command }}",
{% if item.type == 'Startup' %}
      "Type": "{{ item.type }}"
{% else %}
      "Type": "{{ item.type }}",
{% endif %}
{% if item.schedule is defined %}
      "Schedule": "{{ item.schedule }}"
{% endif %}
{% if item.command == 'Minutes' and item.command == 'serverchat' %}
      "Sender": "{{ item.sender }}",
      "Message": "{{ item.message }}"
{% endif %}
{% if item.command == 'Minutes' and item.command == 'notification' %}
      "Message": "{{ item.message }}"
      "Color": "{{ item.color }}",
      "DisplayTime": {{ item.displaytime }},
      "DisplayScale": {{ item.displayscale }}
{% endif %}
    {{ "}," if not loop.last else "}" }}
{% endfor %}
  ]
}
