{
  "AccountKey": "{{ kalscrosschat_accountkey }}",
  "Debug": false,
  "DisableChat": false,
  "DisableCrossServerChat": false,
  "RconIp": "127.0.0.1",
  "ServerKey": "",
  "RconPortOverride": 0,
  "CrossMapNotifications": {
    "Enabled": {{ kalscrosschat_crossmapnotifications_enabled | lower }},
    "ToggleCommand": "/joinleave",
    "Display_Scale": 1.0,
    "Display_Time": 5.0,
    "JoinDifferent_ColorRGB": [ 255, 255, 255 ],
    "LeaveDifferent_ColorRGB": [ 255, 255, 255 ],
    "JoinSame_ColorRGB": [ 100, 180, 100 ],
    "LeaveSame_ColorRGB": [ 163, 50, 50 ],
    "JoinedMsgs": [
      "Ein wildes {0} erscheint auf {1}.",
      "{0} hat heute mal Lust auf {1}.",
      "{0} ist falsch abgebogen und auf {1} gelandet.",
      "Sieht so aus, als hätte sich {0} nach {1} verirrt.",
      "{0} besucht kurz {1}.",
      "Hey {1} begrüße {0}!",
      "{0} ist seit langem mal wieder auf {1}.",
      "{0} stolpert auf {1}. Was es dort wohl gibt?",
      "Wir hoffen {0} fühlt sich auf {1} wohl.",
      "Vielleicht findet {0} auf {1} neue Freunde.",
      "Ob {1} schon bereit für {0} ist?"
    ],
    "LeftMsgs": [
      "{0} verabschiedet sich von {1}.",
      "{0} geht ohne ein Wort von {1}.",
      "Ob {1} {0} vermissen wird?",
      "{0} hat keine Lust mehr auf {1}.",
      "{0} verlässt {1} mit einer Abschiedsträne. ",
      "{1} hofft, dass {0} morgen wieder da sein wird.",
      "{1} winkt {0} zum Abschied hinterher."
    ]
  },
  "ClusterName": "{{ kalscrosschat_clustername }}",
  "OnlinePlayersCommand": {
    "Enabled": true,
    "ShowTribes": true,
    "ShowOnlineTime": true,
    "Command": "/online",
    "DisplayTime": 10.0,
    "DisplayScale": 0.5,
    "AmountPerPage": 15,
    "OnlyShowMapToGroups": [ "Admins" ],
    "RestrictCommandToPermissions": [ "Default" ]
  },
  "PrivateMessages": {
    "Enabled": true,
    "Private_Message_Command": "/pm",
    "Reply_Command": "/r"
  },
  "ShowSteamName": false,
  "ShowMapName": true,
  "UseCrossChat": true,
  "HideServerTagOnLocal": false,
  "GlobalChatSpamDelaySec": 0.0,
  "UseWordBlacklist": {{ kalscrosschat_usewordblacklist | lower }},
  "IgnoredLettersForBadWords": " .*_-",
  "BadWords": [
    {"Word": "pussy"},
    {"Word": "fuck", "LeaveFirstAndLastLetters": true, "Color": "0.8,.2,.2,1"},
    {"Word": "ass", "Color": "0.8,.2,.2,1", "SafeWords": ["grass", "assassin", "mass"]},
    {"Word": "slut", "Color": "0.8,.2,.2,1"},
    {"Word": "whore", "Color": "0.8,.2,.2,1"},
    {"Word": "bitch", "Replacement": "buddy"},
    {"Word": "discord.gg", "MuteSecs": 10.0},
    {"Word": "://", "MuteSecs": 10.0}
  ],
  "AdminImmuneToMuteAndSpamDelay": true,
  "ChatMuteSecForBadWord": 5.0,
  "RandomTips": {
    "ShowRandomTips": {{ kalscrosschat_randomtips_showrandomtips | lower }},
    "IntervalMins": 15.0,
    "HideTipsCommand": "/hidetips",
    "ShowTipsCommand": "/showtips",
    "TipTitle": "Random Tip #{}",

    "ShowAsNotification": true,
    "NotificationColor": [ 1.0, 0.0, 0.0, 1.0 ],
    "NotificationScale": 0.7,
    "NotificationDisplayTime": 3.0,

    "Tips": [
      {
        "FirstMsg": "You can use the /linkDiscord command in the discord.",
        "SecondMsg": "This will let you use the /kickMe command in discord if you get stuck online."
      },
      {
        "FirstMsg": "Did you know you can get two way tribe chat + logs to your own discord?",
        "SecondMsg": "Use /linkTribe and /linkTribeLogs commands in your discord after inviting the chat bot."
      },
      {
        "FirstMsg": "To report a rule vilotion please file a ticket in discord!"
      },
      {
        "FirstMsg": "You can use the /unlock command to help with unlocking engrams, including tek and other maps!"
      },
      {
        "FirstMsg": "If you haven't already, be sure to join us in our discord server! Invite Link in the 'F1' Menu."
      },
      {
        "FirstMsg": "If you have been raided file a ticket WITH PROOF in discord to receive 48 hour Raid Protection!"
      },
      {
        "FirstMsg": "You can use /hideTips or /showTips to toggle these tips!"
      }
    ]
  },
  "Tags": [
    {
      "Tag": "RaidProtected",
      "ForRaidProtectedTribe": true,
      "Color": ".1, .8, .1, .8",
      "PermissionGroups": [],
      "TribeIds": []
    },
    {
      "Tag": "Admin",
      "ForAdmin": true,
      "Color": "1, 0, 0, .8",
      "PermissionGroups": [ "Admins" ],
      "TribeIds": [],
      "SteamIds": []
    },
    {
      "Tag": "Mod",
      "ForAdmin": false,
      "Color": "1, 0.2, 0.2, .8",
      "PermissionGroups": [ "Moderator" ],
      "TribeIds": [],
      "SteamIds": []
    },
    {
      "Tag": "Donor",
      "ForAdmin": false,
      "Color": "1, 0.2, 0.2, .8",
      "PermissionGroups": [ "Donator" ],
      "TribeIds": [],
      "SteamIds": []
    },
    {
      "Tag": "Alpha",
      "ForAdmin": false,
      "Color": "1, 0.2, 0.2, .8",
      "PermissionGroups": [],
      "TribeIds": [],
      "SteamIds": []
    }
  ],
  "Icons": [
    {
      "Icon": "/Game/PrimalEarth/CoreBlueprints/Weapons/Icons/MetalShield_Icon.MetalShield_Icon",
      "ForRaidProtectedTribe": true,
      "PermissionGroups": [],
      "TribeIds": []
    },
    {
      "Icon": "/Game/OldAssets/UI/Chat/ChatLog_Icon_Star.ChatLog_Icon_Star",
      "ForAdmin": true,
      "PermissionGroups": [],
      "TribeIds": [],
      "SteamIds": []
    },
    {
      "Icon": "/Game/PrimalEarth/CoreBlueprints/Items/Artifacts/Icons/Implant_Icon_Alpha.Implant_Icon_Alpha",
      "ForAdmin": false,
      "PermissionGroups": [ "Donator" ],
      "TribeIds": [],
      "SteamIds": []
    },
    {
      "Icon": "/Game/PrimalEarth/CoreBlueprints/Items/Consumables/Icons/DinoPoop_Icon.DinoPoop_Icon",
      "ForAdmin": false,
      "PermissionGroups": [ "ShittyPlayer" ],
      "TribeIds": [],
      "SteamIds": []
    },
    {
      "Icon": "/Game/PrimalEarth/UI/Inventory/Textures/IconDossiers.IconDossiers",
      "ForAdmin": false,
      "PermissionGroups": [],
      "TribeIds": [ ],
      "SteamIds": []
    }
  ],
  "ChatColors": [
    {
      "ForAdmin": true,
      "ForEveryone": false,
      "HideTribeName": false,
      "MessageColor": "1, 1, 1, 1",
      "NameColor": "0.18, 0.8, 0.44, 1",
      "TribeNameColor": "0.90, 0.49, 0.13, 1",
      "OverrideGraySelfNameColor": true,
      "PermissionGroups": [],
      "TribeIds": [],
      "SteamIds": []
    },
    {
      "ForAdmin": false,
      "ForEveryone": true,
      "HideTribeName": false,
      "MessageColor": "1, 1, 1, 1",
      "NameColor": "0.18, 0.8, 0.44, 1",
      "TribeNameColor": "0.90, 0.49, 0.13, 1",
      "OverrideGraySelfNameColor": true,
      "PermissionGroups": [],
      "TribeIds": [],
      "SteamIds": []
    }
  ],
{% for item in kalscrosschat_maps %}
{% if item.serverkey is defined %}
  "ServerKey": "{{ item.serverkey }}",
  "Maps": {
    "{{ item.serverkey }}": {
{% else %}
  "Maps": {
    "{{ item.mapname }}": {
{% endif %}
{% if item.masterserverrundiscordbot is defined and item.masterserverrundiscordbot == true %}
      "MasterServerRunDiscordBot_OnlySetOnOneServer": true,
{% endif %}
      "Label": "{{ item.label }}",
      "DefaultIcon": "{{ item.defaulticon | default('') }}",
      "Color": "{{ item.color }}"
    },
{% endfor %}
    "Discord": {
      "Label": "Discord",
      "DefaultIcon": "/Game/Aberration/Icons/Buffs/Radiation_Icon.Radiation_Icon",
      "Color": "0, 1, 1, .8"
    }
  },
  "Messages": {
    "MutedTitle": "Muted",
    "MutedMessage": "You are muted (Reason {}). You have<RichColor Color=\"1, 0, 0, 1\">{} seconds</> until you can chat next.",
    "MutedMessageMins": "You are muted (Reason {}). You have<RichColor Color=\"1, 0, 0, 1\">{:.2f} minutes</> until you can chat next.",
    "MutedMessageHrs": "You are muted (Reason {}). You have<RichColor Color=\"1, 0, 0, 1\">{:.2f} hours</> until you can chat next.",
    "PermMutedMessage": "You are muted (Reason {}).",
    "AnitSpamTitle": "AntiSpam",
    "AnitSpamMessage": "You have<RichColor Color=\"1, 0, 0, 1\">{:.2f} seconds</> until you can chat next.",
    "CensorTitle": "Censor",
    "CensorMessage": "You cannot say phrases including<RichColor Color=\"1, 0, 0, 1\">{}</>.",
    "CensorMute": "You have been muted for<RichColor Color=\"1, 0, 0, 1\">{:.1f}</> seconds.",
    "MustBeTribeAdmin": "You must be a tribe admin to use this command.",
    "InvalidCode": "Invite code '{}' not found.",
    "LinkDiscordSyntax": "Incorrect Syntax: <RichColor Color=\"1, 0, 0, 1\">/linkDiscord</> <RichColor Color=\"0, 1, 0, 1\">inviteCode</>",
    "LinkDiscordInvite": "To get an invite code go to discord and use <RichColor Color=\"1, 0, 0, 1\">/linkDiscord</>",
    "LinkDiscordSuccess": "Your steam and discord user and now linked. You can use <RichColor Color=\"1, 0, 0, 1\">/kickme</> in discord if needed.",
    "LinkTribeLogSyntax": "Incorrect Syntax, try <RichColor Color=\"1, 0, 0, 1\">/linkTribeLog</> <RichColor Color=\"0, 1, 0, 1\">inviteCode</>",
    "LinkTribeLogInvite": "To get an invite code: invite chat bot to your own discord, then in the channel you want linked use <RichColor Color=\"1, 0, 0, 1\">/linkTribeLog</>",
    "LinkTribeLogSuccess": "Tribe logs is now linked to your discord.",
    "UnlinkTribeLogs": "Tribe logs are no longer linked to your discord.",
    "TribeChatAlreadyLinked": "Your tribe chat is already linked to a discord channel. Use /unlinkTribe to change.",
    "LinkTribeSyntax": "Incorrect Syntax, try <RichColor Color=\"1, 0, 0, 1\">/linkTribe</> <RichColor Color=\"0, 1, 0, 1\">inviteCode</>",
    "LinkTribeInvite": "To get an invite code: invite chat bot to your own discord, then in the channel you want linked use <RichColor Color=\"1, 0, 0, 1\">/linkTribe</>",
    "LinkTribeSuccess": "Tribe chat is now linked to your discord.",
    "LinkTribeAlreadyLinked": "Your tribe chat is already linked to a discord channel. Use <RichColor Color=\"1, 0, 0, 1\">/unlinkTribe</> to change.",
    "UnlinkTribeNotLinked": "Your tribe chat is not linked to a discord channel.",
    "UnlinkTribeSuccess": "Tribe chat is no longer linked to your discord.",
    "TribeChatTag": "(TRIBE)",
    "LocalChatTag": "(LOCAL)",
    "AllyChatTag": "(ALLY)",
    "RandomTipsHidden": "You will no longer see Random Tips. If you would like to see them again use <RichColor Color=\"1, 0, 0, 1\">{}</>",
    "RandomTipsUnhidden": "You will start seeing Random Tips again! Use <RichColor Color=\"1, 0, 0, 1\">{}</> to hide them.",
    "RandomTipsNotHidden": "You dont currently have tips muted.",
    "RandomTipsAlreadyHidden": "You already have Tips hidden.",
    "UnignoreNotIgnoring": "You are not ignoring any players.",
    "UnignoreIndex": "Unignore #{}",
    "UnignoreInvalidChoice": "'{}' is not a valid choice.",
    "UnignoreSuccess": "You are no longer ignoring <RichColor Color=\"1, 0, 0, 1\">{}</>",
    "UnignoreWrongUsage": "Wrong command usage. Try <RichColor Color=\"1, 0, 0, 1\">/unignore</>",
    "IgnoreInvalidChoide": "{} is not a valid choice. Should be a number 1-4",
    "IgnoreAlreadyIgnored": "{} is already being ignored.",
    "IgnoreSuccess": "{} Is now being ignored, Use <RichColor Color=\"1, 0, 0, 1\">/unignore</> to change this.",
    "IgnoreNotRecent": "You have not used the command <RichColor Color=\"1, 0, 0, 1\">/ignore</> in the last 5 mins. Use it without any parameters.",
    "IgnoreNoOneToIgnore": "Wait for someone to talk before ignoring them.",
    "IgnoreInstructions": "Pick a player to ignore and use <RichColor Color=\"1, 0, 0, 1\">/ignore #</> to confirm",
    "IgnoreWrongUsage": "Wrong command usage. Try <RichColor Color=\"1, 0, 0, 1\">/ignore</>",

    "StartAConversationFirst": "Please start a conversation with another player first using <RichColor Color=\"1, 0, 0, 1\">{} Player Name</>.",
    "PlayerNoLongerOnline": "The player you are trying to message is no longer online.",
    "MultiplePlayersWithName": "Sorry, there are multiple people online with the name '{}'",
    "CantFindPlayer": "Cannot find a player online with the name '{}'.",
    "NewConversation": "You have started a new conversation with '<RichColor Color=\"1, 0, 0, 1\">{}</>' Use <RichColor Color=\"1, 0, 0, 1\">{} msg</> to talk with them.",
    "NewPMFrom": "<RichColor Color=\"1, 0, 0, 1\">{}</> has started a new private conversation with you, you <RichColor Color=\"1, 0, 0, 1\">{} msg</> to reply.",

    "CannotMsgYourself": "Sorry, you cannot PM yourself, ya weirdo.",
    "InvalidPageChoice": "'{}' Is an invalid page choice. Choose a number from 1-{}.",
    "OnlinePlayerTitle": "{0} - Players Online: {1}",
    "OnlinePlayerPages": "Pages {} / {}    Use {} # to see a different page",

    "JoinLeaveHidden": "You will no longer see cross map join/leave notifcations. If you would like to see them again use <RichColor Color=\"1, 0, 0, 1\">{}</>",
    "JoinLeaveUnhidden": "You will start seeing cross map join/leave notifcations again! Use <RichColor Color=\"1, 0, 0, 1\">{}</> to hide them."
  },
  "Mysql": {
    "MysqlHost": "{{ kalscrosschat_mysql_host }}",
    "MysqlUser": "{{ kalscrosschat_mysql_user }}",
    "MysqlPass": "{{ kalscrosschat_mysql_password }}",
    "MysqlPort": {{ kalscrosschat_mysql_port }},
    "MysqlDB": "{{ kalscrosschat_mysql_database }}"
  }
}
