{
	"Debug": false,
	"DisableChat": false,
	"ShowServerStatusChannels": true,
	"ShowCodeBlocks": true,
	"Token": "{{ kalscrosschat_discord_token }}",
	"HostServerDiscordId": "{{ kalscrosschat_HostServerDiscordId }}",
	"Use24HourTimeFormat": true,
	"GlobalChat": {
		"Enabled": {{ kalscrosschat_discord_GlobalChat | lower }},
		"GlobalChatChannelId": "{{ kalscrosschat_discord_GlobalChatChannelId }}",
		"ShowMap": {{ kalscrosschat_discord_GlobalChatShowMap | lower }},
		"AllowDiscordToIngame": true
	},
	"RconCommands": {
		"Enabled": {{ kalscrosschat_discord_RconCommands | lower }},
		"ChannelId": "{{ kalscrosschat_discord_RconCommands_ChannelId }}"
	},
	"JoinLeaveMessages": {
		"Enabled": true,
		"ChannelId": "946541114243022858",
		"JoinedMsg": ":green_circle: **{NAME}{TRIBE[]}** (Steam: {STEAM_ID} | Player: {PLAYER_ID}) has joined **{SERVER_TAG}**",
		"LeftMsg": ":red_circle: **{NAME}{TRIBE[]}** (Steam: {STEAM_ID} | Player: {PLAYER_ID}) has left **{SERVER_TAG}**"
	},
	"PlayerList": {
		"Enabled": {{ kalscrosschat_discord_PlayerList | lower }},
		"UseEmbed": true,
		"ShowMap": true,
		"HidePlayers": false,
		"ShowTribe": true,
		"ShowSteamName": true,
		"ShowOnlineTime": true,
		"ShowDiscordName": true,
		"PlayerListChannelId": "{{ kalscrosschat_discord_PlayerList_ChannelId }}"
	},
	"PermanentMessages": [
    {
      "ChannelId": "{{ kalscrosschat_discord_pm_channelid }}",
      "UniqueMsgKey": "MyArkHelper",
      "UseEmbed": true,
      "EmbedTitle": "Ark Helper",
      "EmbedColor": "0x0099ff",
      "EmbedThumbnail": {
        "url": "https://previews.123rf.com/images/alexwhite/alexwhite1606/alexwhite160604106/58814537-test-icon.jpg",
        "height": 20,
        "width": 20
      },
      "EmbedImage": {
        "url": "https://previews.123rf.com/images/alexwhite/alexwhite1606/alexwhite160604106/58814537-test-icon.jpg",
        "height": 20,
        "width": 20
      },
      "EmbedFooter": {
        "url": "https://previews.123rf.com/images/alexwhite/alexwhite1606/alexwhite160604106/58814537-test-icon.jpg",
        "text": "Provided by KalsCrossChat"
      },
      "EmbedFields": [
        {"name": "Link Ark", "value": "Use this button to link Ark to Discord! You will get a code to use ingame to complete the process."},
        {"name": "Link Discord Bot", "value": "Use this button to get a link to invite the discord bot to your own discord server, after that try using /linkTribe and /linkTribeLogs"},
        {"name": "Kick Me", "value": "After using LinkArk you will be able to use this to kick yourself off if your character gets stuck online."},
        {"name": "Daily Points", "value": "This button will allow VIP members to claim extra points every 24 hours."}
      ],
      "MainText": "This is message outside embed",
      "EmbedDescription": "This is an auto embed msg with buttons",
      "Buttons": [
        {
          "ButtonId": "link",
          "ButtonText": "Link Ark",
          "LinkDiscord": true,
          "RequireRole": false,
          "ButtonTheme": "PRIMARY",
          "CooldownMins": 0
        },
        {
          "ButtonId": "botLink",
          "ButtonText": "Link Discord Bot",
          "OpenUrl": "https://discord.com/api/oauth2/authorize?client_id={BOT_ID}&permissions=8&scope=bot"
        },
        {
          "ButtonId": "roleGive",
          "ButtonText": "Give Role",
          "ButtonTheme": "SUCCESS",
          "RoleToGive": "766447852628607006",
          "RequireRole": true,
          "AllowedRoleIds": [
            "737840741652365312"
          ],
          "RoleAddedMsg": "You have been granted the Verified role!",
          "RoleRemovedMsg": "The Verified role has been removed!",
          "MissingRoleMsg": "You must have the Verified role to use this button.",
          "ToggleRole": false,
          "AlreadyHasRoleMsg": "You already have the verified role."
        },
        {
          "ButtonId": "claim",
          "ButtonText": "Daily VIP Points",
          "ButtonTheme": "SUCCESS",
          "RconCommand": "addpoints {STEAM_ID} 50",
          "RconServerKey": "{USER_SERVER_KEY}",
          "CooldownMins": 1440,
          "RequireRole": true,
          "AllowedRoleIds": ["737840741652365312"],

          "SuccessMsg": "Congrats, you have claimed 50 points! Come back again in 24 hours.",
          "MissingRoleMsg": "You must be a VIP user to claim daily points!",
          "CooldownMsg": "You must wait {TIME_LEFT} before claiming points again.",
          "NotOnlineMsg": "You must be online to claim daily points.",
          "NotLinkedMsg": "You must LinkArk to claim daily points."
        },
        {
          "ButtonId": "kick",
          "ButtonText": "Kick Me",
          "ButtonTheme": "DANGER",
          "RconCommand": "kickplayer {STEAM_ID}",
          "RconServerKey": "{USER_SERVER_KEY}",
          "CooldownMins": 1,

          "SuccessMsg": "You should be kicked offline in the next few seconds.",
          "CooldownMsg": "You must wait {TIME_LEFT} before trying to use kick me again.",
          "NotOnlineMsg": "You must be online to be kicked off.",
          "NotLinkedMsg": "You must LinkArk before you can kick yourself."
        },
        {
          "ButtonId": "steamId",
          "ButtonText": "Get your Ids",
          "ButtonTheme": "SECONDARY",
          "SuccessMsg": "Your Steam/Epic ID is: `{STEAM_ID}`\nYour Player ID is: `{PLAYER_ID}`\nYour Tribe ID is: `{TRIBE_ID}`",
          "NotOnlineMsg": "You must be online to get your ids.",
          "NotLinkedMsg": "You must LinkArk before you can find your steam id."
        },
        {
          "ButtonId": "saveworld",
          "RconCommand": "saveworld",
          "ButtonText": "Save Gen2",
          "ButtonTheme": "SECONDARY",
          "RconServerKey": "Gen2",
          "SuccessMsg": "Response: {RCON_RESPONSE}"
        }
      ]
    },
    {
      "ChannelId": "{{ kalscrosschat_discord_testmsg_channelid }}",
      "UniqueMsgKey": "TestMsg",
      "MainText": "Example Msg",
      "Buttons": [
        {
          "ButtonId": "test",
          "ButtonText": "Test",
          "ButtonTheme": "SECONDARY",
          "RequireRole": true,
          "UseEmbed": true,
          "AllowedRoleIds": ["123"],
          "CooldownMins": 1,
          "SuccessMsg": "Button works!",
          "CooldownMsg": "Cooldown for {TIME_LEFT}."
        }
      ]
    },
	{
		"ChannelId": "{{ kalscrosschat_discord_adminhelper_channelid }}",
		"UniqueMsgKey": "AdminHelper",
		"MainText": "Admin Helper",
		"Buttons": [
			{
			"ButtonId": "SaveWorlds",
			"ButtonText": "Save All Maps",
			"RconCommands": [
				"broadcast About to save the server, there may be some lag!",
				"wait 5",
				"saveworld"
			],
			"ShowResponseToEveryone": true,
			"RconServerKey": "ALLMAPS",
			"ButtonTheme": "DANGER",
			"RequireRole": true,
			"UseEmbed": true,
			"AllowedRoleIds": ["737840741652365312"],
			"SuccessMsg": "{SERVER_LABEL}: Response: {RCON_RESPONSE}"
			},
			{
				"ButtonId": "ReloadPlugins",
				"ButtonText": "Reload Plugins",
				"RconCommand": "{CHOICE_VALUE}",
				"UseDropdown": true,
				"DropdownLabel": "Choose a plugin to reload",
				"DropdownChoices": [
					{"Label": "KalsCrossChat", "Value": "reloadchat", "Description": "Reload Cross Chat"},
					{"Label": "ArkShop", "Value": "arkshop.reload", "Description": "Reload Ark Shop"},
					{"Label": "KalsTribemates", "Value": "reloadTribemates", "Description": "Reload Tribemates"},
					{"Label": "KalsCorpseFinder", "Value": "reloadCorpseFinder", "Description": "Reload Corpse Finder"}
				],
				"RconServerKey": "ALLMAPS",
				"ButtonTheme": "DANGER",
				"RequireRole": true,
				"UseEmbed": true,
				"AllowedRoleIds": ["737840741652365312"],
				"CooldownMins": 1,
				"SuccessMsg": "{SERVER_LABEL}: {RCON_RESPONSE}",
				"CooldownMsg": "Cooldown for {TIME_LEFT}."
			},
			{
				"ButtonId": "RagEvent",
				"ButtonText": "Rag Server Event",
				"RconCommands": [
				"reloadchat",
				"reloadTribemates",
				"broadcast {CHOICE_DESC}",
				"{CHOICE_VALUE}"
				],
				"RconDelayBetweenCommandsSecs": 2,
				"UseDropdown": true,
				"DropdownLabel": "Chooce a boss to raid Rag",
				"DropdownChoices": [
					{"Label": "SpiderQueen", "Value": "serverevents.start Queen 390086 -122215 19364.8", "Description": "A Spider Queen is coming to rag!"},
					{"Label": "Gorilla", "Value": "serverevents.start Gorilla 368735 -145742 19823.7", "Description": "A Gorilla is coming to rag!"},
					{"Label": "Dragon", "Value": "serverevents.start Dragon 99019.1 -411930 -13873.2", "Description": "A Dragon is coming to rag!"},
					{"Label": "Dodo", "Value": "serverevents.start Dodo 93946 369831 -13937.7", "Description": "A Dodo is coming to rag!"}
				],
				"RconServerKey": "LostIsland",
				"ButtonTheme": "DANGER",
				"RequireRole": true,
				"UseEmbed": true,
				"AllowedRoleIds": ["737840741652365312"],
				"CooldownMins": 1,
				"SuccessMsg": "{SERVER_LABEL}: {RCON_RESPONSE}",
				"CooldownMsg": "Cooldown for {TIME_LEFT}."
			}
		]
	}
  ],
	"SteamLink": {
		"GiveRoleWhenLinked": false,
		"ForceUpdateDiscordNickname": true,
		"IncludeTribeInNickname": true,
		"RoleIdToGive": ""
	},
	"DefaultChatFromDiscord": {
		"ServerTag": "Discord",
		"TagColor": "0, 1, 1, 1",
		"MessageColor": "1, 1, 1, 1",
		"NameColor": "0.18, 0.8, 0.44, 1",
		"Icon": ""
	},
	"IngameChatFromDiscordConfig": [
		{
			"RoleId": "123",
			"TagName": "Admins",
			"Icon": "/Game/Mods/loulan/tubiao/shouchong.shouchong",
			"TagColor": "1, 0, 0, .8",
			"MessageColor": "1, 1, 1, 1",
			"NameColor": "0.18, 0.8, 0.44, 1"
		}
	],
	"RolePermissionSync": [
		{
			"RoleId": "123",
			"PermissionGroup": "Admin",
			"Option1_AutoGivePermissionIfHasRole": false,
			"Option1_AutoRemovePermissionIfMissingRole": false,
			"Option2_AutoGiveRoleIfHasPermission": true,
			"Option2_AutoRemoveRoleIfMissingPermission": true
		},
		{
			"RoleId": "456",
			"PermissionGroup": "Verified",
			"Option1_AutoGivePermissionIfHasRole": true,
			"Option1_AutoRemovePermissionIfMissingRole": true,
			"Option2_AutoGiveRoleIfHasPermission": false,
			"Option2_AutoRemoveRoleIfMissingPermission": false
		}
	],
	"Database": {
		"host": "{{ kalscrosschat_mysql_host }}",
		"user": "{{ kalscrosschat_mysql_user }}",
		"port": {{ kalscrosschat_mysql_port }},
		"password": "{{ kalscrosschat_mysql_password }}",
		"database": "{{ kalscrosschat_mysql_database }}"
	},
	"TribeWebhookNames": [ "Logs", "TribeLog" ],
	"ShowSteamName": false,
	"PollRate": 250,
	"StatusPollRateSec": 15,
	"ResponsePollRate": 250,
	"Messages": {
		"ClusterName": "MyCluster",
		"ChannelStatusOffline": "{MAP}: Offline",
		"ChannelStatusInit": "{MAP}: Loading",
		"ChannelStatusOnlineSingle": "{MAP}: {PLAYER_COUNT} Player",
		"ChannelStatusOnlineMulti": "{MAP}: {PLAYER_COUNT} Players",
		"ClusterStatusOnlineSingle": "{MAP_COUNT} Maps / {PLAYER_COUNT} Player",
		"ClusterStatusOnlineMulti": "{MAP_COUNT} Maps / {PLAYER_COUNT} Players",
		"ClusterStatusOffline": "{CLUSTER_NAME} Offline",
		"ChannelTopic": "{CLUSTER_NAME}: {MAP_COUNT} Maps, {PLAYER_COUNT} Players, {TRIBE_COUNT} Tribe Discords",
		"PlayerList_TitleMulti": "{CLUSTER_NAME}: {MAP_COUNT} Maps, {PLAYER_COUNT} Players",
		"PlayerList_TitleSingle": "{CLUSTER_NAME}: {MAP_COUNT} Maps, {PLAYER_COUNT} Player",
		"PlayerList_TitleOffline": "{CLUSTER_NAME}: Offline",
		"PlayerList_ServerTitleMulti": "{MAP}: {PLAYER_COUNT} Players",
		"PlayerList_ServerTitleSingle": "{MAP}: {PLAYER_COUNT} Players",
		"PlayerList_ServerTitleOther": "{MAP}",
		"PlayerList_ServerHasNoPlayers": "No Players",
		"PlayerList_ServerIsOff": "Offline",
		"PlayerList_ServerInit": "Initializing",
		"LinkTribe_NotADiscordAdmin": "You must be an Admin in discord to use this command.",
		"LinkTribe_MissingRole": "You must be an Admin or have the role '{ROLE}' in discord to use this command.",
		"LinkTribeChat_Code": "To link your tribechat to this discord channel, have a tribe admin use this command ingame:{CODE}",
		"LinkTribeLog_Code": "To link your tribe logs to this discord channel, have a tribe admin use this command ingame:{CODE}",
		"UnlinkTribe_NoLinkedTribes": "No tribes are linked to this channel",
		"UnlinkTribeChat_Success": "Tribe chat has been removed from this channel",
		"KickMe_MustLinkFirst": "You must link your steam to discord before you can use this command. To do this use the other button.",
		"KickMe_KickingSoon": "Your character should be kicked offline in the next 10 seconds.",
		"LinkDiscord_Code": "Use {CODE} ingame to finish linking your discord.",
		"LinkDiscord_Overwrite": "Use {CODE} ingame to finish linking your discord. This will override any existing link."
	}
}
