{
  "General":{
    "IgnoreAdmin": {{ structureslimit_ignoreadmin | lower }},
    "MaxAmount":{{ structureslimit_maxamount }},
    "NotificationDisplayTime":4.0,
    "NotificationScale":1.3
  },
  "Structures":{
{% for item in structureslimit_structures %}
  "Blueprint'{{ item.blueprint }}'":{
  "Name":"{{ item.name }}",
  "Count":{{ item.count }}
    {{ "}," if not loop.last else "}" }}
{% endfor %}
  },
  "Messages": {
    "Sender": "Structure Limits:",
    "InvitingMergeFail": "Can't merge with this tribe, the tribe has too many structures!",
    "InvitedMergeFail": "The tribe you are trying to merge has too many structures combined with yours!",
    "InvitingTribeFail": "The player you are trying to invite has too many structures combined with yours!",
    "InvitedPlayerFail": "The tribe you are trying to join have has too structures combined with yours!",
    "ReachLimit": "You have reached your limit of that structure or the global structure limit!",
    "ShowLimitsCmd": "/ShowLimits",
    "ShowLimitMsg": "{}: {}/{}\n",
    "TotalLimitMsg": "Total Structures: {}/{}",
    "ShowLimitsType": "Notification",
    "NotificationColor": {
      "Red": 1,
      "Green": 0,
      "Blue": 0.5
    },
    "ShowLimitsDisplayTime": 10,
    "ShowLimitsScale": 1.5
  }
}
