{
   "AdvancedChat":{
     "DBOverride":"",
     "NameAndTagColours":true,
     "AutoAssignAdminsToPermission":{{ item.autoassignadminstopermission | default('false') | lower }},
     "ChatFormat":"{Tribe}{TagColour}{Tag}{TagColourEnd}{NameColour}{Name}{NameColourEnd}: {MsgColour}{Msg}{MsgColourEnd}",
     "TribeBrackets":"[{}] ",
     "TagBrackets":"({}) ",
	  "BestPerformance":true,
	  "CrossChatKey":"{{ item.crosschatkey }}",
	  "CrossChatPullDelaySeconds":0,
	  "CrossChatMapNameInclude":true,
	  "CrossChatMapNameOverride":"<RichColor Color=\"{{ item.crosschatmap_color }}\">[{{ item.mapshort }}]</> ",
	  "CrossChatServerPortOffset":1000,
	  "CrossChatTribeChat":true,
	  "CrossChatServers":[
      {% for server in arkapi_plugins_advancedchat_crosschatservers %}
    "{{ server }}"{{ "," if not loop.last else "" }}
      {% endfor %}
	  ],
     "RconServers":[
      ],
      "ProximityChatDistance":5,
      "UseWebSiteWidget":false,
      "DiscordServerName":"{{ item.discordservername }}",
      "DiscordIncludeTribeName":true,
      "DiscordIncludeMapName":true,
      "DiscordWebHookURL":"{{ item.discordwebhookurl }}",
      "DiscordAdminChatWebHookURL":"{{ advancedchat_discordadminchat }}",
      "DiscordTribeChatWebHookURL":"{{ advancedchat_discordtribechat }}",
      "DiscordAllyChatWebHookURL":"{{ advancedchat_discordallychat }}",
      "DiscordBotToken":"",
      "DiscordBotPullDelaySeconds":0,
      "DiscordLevelLimit":0,
      "DiscordBotLobbyIDS":[

      ],
      "WebDiscordProximityChat":false,
      "ChangeDefaultChatColours":false,
      "ImagePath":"",
      "NameColour":[
         1.0000,
         0.3490,
         0.3490,
         1
      ],
      "DeadNameColour":[
         1.0000,
         0.3490,
         0.3490,
         1
      ],
      "LocalChatColour":[
         1.0000,
         1.0000,
         1.0000,
         1.0000
      ],
      "GlobalChatColour":[
         1.0000,
         1.0000,
         1.0000,
         1.0000
      ],
      "TribeChatColour":[
         0.0588,
         1.0000,
         0.3255,
         1.0000
      ],
      "AllianceChatColour":[
         1.0000,
         1.0000,
         1.0000,
         1.0000
      ],
      "PermissionColours":[
         {
            "Permission":"advancedchat_admin",
            "Tag":"",
            "ImagePath":"/Game/OldAssets/UI/Chat/ChatLog_Icon_Star.ChatLog_Icon_Star",
            "NameColour":[
               1.0000,
               0.5843,
               0.0000,
               1.0000
            ],
            "ChatColour":[
               0.3412,
               0.9098,
               0.9412,
               1.0000
            ],
         "ChatTypeColours":true,
         "ChatTypeDeadNameColours":false,
            "TribeNameColour":[
               0.500,
               0.500,
               0.500,
               1
            ],
            "TribeDeadNameColour":[
               0.500,
               0.500,
               0.500,
               1
            ],
         "TribeChatColour":[
            0.0588,
            1.0000,
            0.3255,
            1.0000
            ],
            "AllianceNameColour":[
               1.000,
               0.000,
               1.000,
               1
            ],
            "AllianceDeadNameColour":[
               1.000,
               0.000,
               1.000,
               1
            ],
         "AllianceChatColour":[
            1.0000,
            1.0000,
            1.0000,
            1.0000
            ]
         }
      ],
      "CustomColouredPlayers":[
         {
            "SteamID":1234,
            "Tag":"(test)",
            "ImagePath":"",
            "WeeklyColourChangeLimit":5,
            "ChatColour":[
               1.000,
               0.000,
               0.000,
               1
            ],
         "ChatTypeColours":true,
         "TribeChatColour":[
            0.0588,
            1.0000,
            0.3255,
            1.0000
            ],
         "AllianceChatColour":[
               0.000,
               0.000,
               1.000,
               1
            ]
         }
      ],
      "ChatMsgColourCommand":"/msgcolour",
      "ChatNameColourCommand":"/namecolour",
      "Messages":[
         "Chat Message Colour Updated!",
         "Chat Name Colour Updated!",
         "You have reached your weekly limit!",
      "{} has currently {} players online!"
      ]
   }
}
