{
  "Backend": {
  "useMySQL": true,
  "ServerPrefix": "{{ arkapi_plugins_autodecay_servername }}",
  "SynchronizeOnCluster": {{ arkapi_plugins_autodecay_synconcluster | lower }},
  "MySQL": {
    "Host": "{{ arkapi_plugins_autodecay_mysql_host }}",
    "Port": {{ arkapi_plugins_autodecay_mysql_port }},
    "User": "{{ arkapi_plugins_autodecay_mysql_user }}",
    "Password": "{{ arkapi_plugins_autodecay_mysql_password }}",
    "Database": "{{ arkapi_plugins_autodecay_mysql_database }}"
  }
},
  "Decay": {
    "Commands": {
      "CheckCommandEnabled": true,
      "CommandLabel": "decaytime"
    },
    "AnnounceCheck": false,
    "AddAlreadyExisting": true,
    "DecayGroups": [
      {
        "GroupName": "away",
        "StructureDecayTime": {
          "GivenIn": "DAYS",
          "Value": 60
        },
        "DinoDecayTime": {
          "GivenIn": "DAYS",
          "Value": 60
        }
      },
      {
        "GroupName": "decayadmin",
        "StructureDecayTime": {
          "GivenIn": "HOURS",
          "Value": 0
        },
        "DinoDecayTime": {
          "GivenIn": "HOURS",
          "Value": 0
        }
      }
    ],
    "CheckSteps": 25,
    "UseInterval": false,
    "CheckInterval": {
      "GivenIn": "HOURS",
      "Value": 6
    },
    "ScheduledCheckTime": 5,
    "Structures": {
      "Enabled": {{ autodecay_structures | lower }},
      "DecayTime": {
        "GivenIn": "DAYS",
        "Value": 30
      }
    },
    "Dinos": {
      "Enabled": {{ autodecay_dinos | lower }},
      "UnclaimDino": {{ autodecay_dinos_unclaim | lower }},
      "DecayTime": {
        "GivenIn": "DAYS",
        "Value": 30
      }
    }
  },
  "AutoBreed": {
    "Enabled": false,
    "CheckInterval": {
      "GivenIn": "SECONDS",
      "Value": 60
    },
    "MaxUnclaimedTime": {
      "GivenIn": "SECONDS",
      "Value": 60
    }
  },
  "Messages": {
    "CheckStarted": "An automated check for decaying structures has been started",
    "CheckFinished": "All structures of the inactive players were decayed",
    "StructureRemainingTime": "The target structure decays in {} hours and {} minutes.",
    "DinoRemainingTime": "The target dino decays in {} hours and {} minutes.",
    "StructureCurrentlyDecaying": "The target structure is currently decaying",
    "DinoCurrentlyDecaying": "The target dino is currently decaying",
    "TargetNotDecaying": "The target is not affected by AutoDecay."
  }
}
