{
  "General": {
    "ServerName": "{{ tribelogrelay_servername }}",
    "ServerNameFormat": "{0} - {1}",
    "ForceTribeMembership": true
  },
  "MapNames": {
    "Ragnarok": "Rag",
    "Valguero_P": "Val",
    "Aberration_P": "AB",
    "TheCenter": "Cen",
    "TheIsland": "Isl",
    "ScorchedEarth_P": "SE",
    "Genesis": "Gen",
    "Extinction": "Ext",
    "CrystalIsles": "CI",
    "Arkforum_Eventmap": "Mar",
    "Gen2": "Gen2"
  },
  "Commands": {
    "CommandText": "/TLR",
    "UsePermissions": false,
    "PermissionName": "TLR.Add"
  },
  "Discord": {
    "UseAdminLogging": {{ tribelogrelay_adminlogging | lower }},
    "AdminDiscordWebhook": "{{ tribelogrelay_admindiscordwebhook }}",
    "AdminPublicDiscordWebhook": "",
    "DiscordLinkFormat": "https:\/\/.*discord(?:app)?.com\/api\/webhooks\/[^\/]+\/[^\/]+",
    "DiscordPingCooldown": 0,
    "UseTribeID": true,
    "TribeFormat": "{1}:{0}",
    "AddCodeBlocks": false
  },
  "Detection": {
    "DetectEggHatching": true,
    "DetectCyrofreeze": true,
    "DetectCyroUnfreeze": true,
    "CryoItems": "PrimalItem_WeaponEmptyCryopod_C,SoulTrap_DS_C",
    "DetectTribenameChange": true,
    "DetectTribeOwnerChange": true,
    "DetectTribeLogin": true,
    "DetectTribeLogoff": true,
    "LoginLogoffIncludeNetworkID": false
  },
  "KeywordMatching": {
    "UseKeywordMatching": true,
    "Keywords": [
      "Your Tribe killed ",
      " demolished a ",
      " claimed ",
      " unclaimed ",
      " was added to the Tribe!",
      " was removed from the Tribe!",
      " destroyed their ",
      "Tamed a",
      " was promoted ",
      " was demoted ",
      " set to Rank Group ",
      " uploaded ",
      " downloaded ",
      " froze ",
      " unfroze ",
      " destroyed your ",
      "Tribe name changed ",
      "Tribe owner changed ",
      " now online!",
      " gone offline!",
      " transferred to ",
      " transferred from "
    ],
    "KeywordsPingUsing": "@here",
    "KeywordsPing": [
      " was killed",
      " was auto-decay destroyed!",
      " starved to death!",
      " was destroyed!",
      " has been born.",
      " has been hatched."
    ]
  },
  "AdminKeywordMatching": {
    "UseKeywordMatching": false,
    "Keywords": [
      "Your Tribe killed ",
      " was killed",
      " demolished a ",
      " was added to the Tribe!",
      " was removed from the Tribe!",
      " destroyed their ",
      " destroyed your ",
      "Tribe name changed ",
      "Tribe owner changed "
    ],
    "KeywordsPingUsing": "@here",
    "KeywordsPing": [

    ]
  },
  "AdminPublicKeywordMatching": {
    "UseKeywordMatching": true,
    "Keywords": [
      "Your Tribe killed ",
      " was killed",
      " now online!",
      " gone offline!",
      " transferred to ",
      " transferred from "
    ],
    "KeywordsPingUsing": "@here",
    "KeywordsPing": [

    ]
  },
  "Localization": {
    "TribeOwnerChanged": "Tribe owner changed from {0} to {1}",
    "TribeNameChanged": "Tribe name changed to ({0})",
    "UnCryo": "{0} unfroze {1}",
    "Cryo": "{0} froze {1}",
    "Login": "{0} is now online!",
    "LoginWithID": "{0} ({1}) joined this ARK!",
    "Logoff": "{0} has gone offline!",
    "LogoffWithID": "{0} ({1}) left this ARK!",
    "NewBaby": "'Baby {0}' has been born.",
    "EggHatched": "'{0}' has been hatched.",
    "TransferLeave": "{0} transferred to another ARK!",
    "TransferLeaveWithID": "{0} ({1}) transferred to another ARK!",
    "TransferJoin": "{0} transferred from another ARK!",
    "TransferJoinWithID": "{0} ({1}) transferred from another ARK!"
  },
  "Messages": {
    "Sender": "TribeLogRelay",
    "ChangedWebhook": "Successfully set your tribes Discord Webhook!",
    "Invalid": "<RichColor Color=\"1, 0, 0, 1\">Webhook appears to be an invalid discord webhook!</>",
    "Error": "<RichColor Color=\"1, 0, 0, 1\">Webhook did not get updated, try again!</>",
    "NotAllowed": "<RichColor Color=\"1, 0, 0, 1\">Only the tribe owner is allowed to use this feature!</>",
    "NotFound": "<RichColor Color=\"1, 0, 0, 1\">Unable to locate your tribe entry! Contact the server admin.</>",
    "Usage": "\nTribe Owners Only!\nUsage: /tlr <discord webhook>\nVisit https://bit.ly/33Jw8i5 for information about Discord Webhooks.",
    "ForceTribe": "Tribe membership is required. You have been added to your own tribe."
  },
  "Notifications": {
    "NotificationDisplayTime": 10.0,
    "NotificationScale": 1.3
  },
  "TextTransformer": {
    "Enabled": true,
    "TribeMessages": true,
    "AdminMessages": true,
    "AdminPublicMessages": true,
    "EnableRegex": false,
    "Regex": {
      "^(.*:)\\s(\\w+)\\sunclaimed\\s('.*')!$": "$1 __$3__ was unclaimed by **$2**!"
    },
    "Replace": {
      " froze ": " :cold_face: **froze** ",
      " killed ": " :knife: ",
      " killed!": " :knife:!",
      " baby ": " :baby: baby :baby: ",
      " unfroze ": " :hotsprings: __unfroze__ "
    }
  },
  "Mysql": {
    "UseMysql": {{ tribelogrelay_mysql | lower }},
    "MysqlHost": "{{ tribelogrelay_mysql_host }}",
    "MysqlUser": "{{ tribelogrelay_mysql_user }}",
    "MysqlPass": "{{ tribelogrelay_mysql_password }}",
    "MysqlDB": "{{ tribelogrelay_mysql_database }}"
  }
}
